body {
  /* background-color: rgb(241, 247, 253); */
}
.getHelp {
  font-size: 20px;
  font-weight: 500;
}

.getHelp :hover {
  color: rgb(145, 145, 145);
}
.getHelp h4 {
  color: white;
  font-size: 25px;
}

  .navhead h2 {
    margin-bottom: 5px;
    font-weight: 400;
    color: white;
    font-size: 130%;
    text-align: center;
    line-height: 50px;
    font-family: "Exo 2", sans-serif;
  }

@media only screen and (max-width: 425px) {
  .getHelp {
    font-size: 15px;
    font-weight: 500;
  }
  .getHelp i {
    color: white;
    font-size: 12px;
  }
  .getHelp h4 {
    color: white;
    font-size: 10px;
    margin-right: 20px;
  }

  .navhead h2 {
    margin-bottom: 0px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 85%;
    line-height: 40px;
    
  }
}
